<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>ECO.Store | {{title}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="site-title">
            <a href="/">
                <h1>ECO.<span>store</span></h1>
            </a>
            <p>a ecomerce site</p>
        </div>
        <ul>
            <li><a href="/">store</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/add">Add product</a></li>
        </ul>
    </nav>

    {{{body}}}

    <footer>
        Copyright &copy; Store 2021
    </footer>

</body>

</html>