<body>
    <div class="about content">
        <h3>About</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic, dolor dolore impedit a accusantium delectus eveniet molestiae excepturi blanditiis harum suscipit doloremque quis sed ea. Error natus possimus vel.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic, dolor dolore impedit a accusantium delectus eveniet molestiae excepturi blanditiis harum suscipit doloremque quis sed ea. Error natus possimus vel.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic, dolor dolore impedit a accusantium delectus eveniet molestiae excepturi blanditiis harum suscipit doloremque quis sed ea. Error natus possimus vel.</p>
    </div>
</body>