<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="create-blog content">
        <form action="/" method="POST">
            <label for="title">Product Name:</label>
            <input type="text" id="title" name="title" required>
            <label for="body">Product Describtion:</label>
            <textarea  id="body" name="details" required></textarea>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>