
<body>
    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <label for="title">Email:</label>
            <input type="text" id="title" name="title" required>
            <label for="password">password:</label>
            <input type="text" id="snippet" name="password" required>
            <button>Submit</button>
        </form>
    </div>
</body>
