<body>
    <div class="title content">
            {{#each products }}
                <a href="/product/{{id}}">
                    <h1 class="product-title">{{ title }}</h1>
                    <p class="product-details">{{ details }} </p>
                </a>
            {{/each}}
    </div>
    <script>
        
    </script>
</body>
